<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<%= link_to "The Warehouse", root_path, id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li> <%= link_to "Home", root_path %> </li>
				<li> <%= link_to "Media", media_path %> </li>
				<li> <%= link_to "Tools", tools_path %> </li>
				<li> <%= link_to "Help", help_path %> </li>
			</ul>
		</nav>
	</div>
</header>